div.app {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.imagery {
  display: flex;
  flex: 1;
  padding: 80px;
}
.imagery * {
  margin: 0 10px;
  flex: 1;
  text-align: center;
}
